################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assignment6/.vs/assignment6/FileContentIndex
*.opendb
